@import "../../../app/scss/utils/variables";
@import "../../../app/scss/utils/mixins";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 16px;
  padding: 16px 0;
  color: $c_white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
  border-radius: 28px;
  border: 2px solid $c_white;
  margin: 23px auto;
  white-space: nowrap;
  height: 56px;
  
  @include media-up(lg) {
    display: none;
  }

  @include media-down(xs) {
    width: 100%;
    padding: 16px 56px 16px 56px;
  }
}

.image{
  width: 24px;
  height: 24px;
  span {
    width: 24px !important;
    height: 100% !important;
  }
}
