@import "../../../../app/scss/utils/variables";
@import "../../../../app/scss/utils/mixins";

.articleCard {
  width: 380px;
  margin-bottom: 88px;

  @include media-down(md) {
    display: flex;
    justify-content: center;
    width: calc(50% - 30px);
  }

  @include media-down(sm) {
    width: 100%;
    max-width: 400px;
    .articleCardInner {
      width: auto;
    }
  }

  .articleCardInner {
    width: 100%;
    @include media-down(sm) {
      width: auto;
    }
  }

  .imgWrap {
    position: relative;
    width: 380px;
    height: 350px;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 24px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @media (max-width: 400px) {
      width: 100%;
    }

    @include media-down(md) {
      width: 100%;
    }

    @include media-down(sm) {
      width: 280px;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
      transition: 0.4s;
    }
  }

  h3 {
    opacity: 0.7;
    color: $c_white;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  p {
    opacity: 1;
    color: $c_white;
    font-family: $poppins;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 33px;
    margin-bottom: 16px;
  }

  .linkWrap {
    display: flex;
    align-items: center;
    transition: 0.24s;

    span {
      opacity: 1;
      color: rgba(0, 228, 255, 1);
      font-family: $poppins;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      margin-right: 12px;

      &:hover {
        &~ .playIcon {
          transform: rotate(270deg) translateY(16px);
        }
      }
    }

    .playIcon {
      width: 8px;
      height: 8px;
      transform: rotate(270deg);
      transition: all 0.4s ease;
    }

  }
}
